main#home {
    background-color: rgb(249, 98, 98);
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    .titulo {
        color: #212121;
    }

    .subtitulo {
        margin-top: 35px;
        color: #212121;
    }

    .wrap {
        width: 370px;

    }

    footer {
        text-align: center;
        margin-top: 15px;
        font-family: 'Courier New', Courier, monospace;
        letter-spacing: -1px;
        color: white;
    }
}