.resultado {
    background-color: rgb(255, 255, 255);
    width: 100%;
    // height: 40px;
    margin-top: 5px;
    text-align: center;
    justify-content: center;
    font-size: 44px;
    color: #212121;
    border-radius: 5px;
}